<div class="d-flex flex-row bd-highlight mb-3">
    <div class="form-froup row">  
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="CompanyName"
            placeholder="Enter company name">
        </div>

        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="CompanyAddress"
            placeholder="Enter company address">
        </div>

        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="CompanyPhoneNumber"
            placeholder="Enter company phone number">
        </div>
    
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="CompanyDescription"
            placeholder="Enter company description">
        </div>   
    </div>

    <div class="ml-4 bd-highlight">
        <img [src]=PhotoFilePath height="100%;" width="100%;">
        <input type="file" name="uploadedFile" accept="image/x-png,image/gif,image/jpeg" (change)="uploadPhoto($event)" class="mt-2"/>       
    </div>
</div>  

<button (click)="addCompany()" *ngIf="company.Id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateCompany()" *ngIf="company.Id!=0" class="btn btn-primary">
    Update
</button>