<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">
                The software system of flexible adjustment of the work process in coworking aims to provide a comfortable search for the coworking area, to provide as much information as possible about the workspace that the client is considering. SmartWork provides for the organization of transparent access to the review of technical and material support of the coworking area, available rooms, indicators of their temperature and lighting
            </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Resources</h4>
            <ul class="list-unstyled">
                <li><a href="https://github.com/NoMios1234/SmartWork" class="text-white">GitHub repository</a></li>
                <li><a href="mailto:dmytro.buhai@nure.ua" class="text-white">Email me</a></li>
            </ul>
            </div>
        </div>
    </div>  
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
    <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>SmartWork</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</div>




